{% extends 'customers-template/base.html' %}

{% block title %}
Create Customer
{% endblock %}

{% block content %}



        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Create Union</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{%  url 'customer:customer_list' %}">Dashboard</a></li>

                            <li class="active">create union</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Union Form</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                            {% csrf_token %}

                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="{{ form.union_name.id_for_label }}" class="form-control-label">*Union Name</label></div>
                                                <div class="col-12 col-md-9">{{ form.union_name }}<small class="form-text text-muted">Union name</small></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="{{ form.union_number.id_for_label }}" class=" form-control-label">*Union Number</label></div>
                                                <div class="col-12 col-md-9">{{ form.union_number }}<small class="help-block form-text">union number like 11</small></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="{{ form.help_info.id_for_label }}" class=" form-control-label">Help Info</label></div>
                                                <div class="col-12 col-md-9">{{ form.help_info }}<small class="help-block form-text">Help info</small></div>
                                            </div>



{#                                                <div class="row form-group">#}
{#                                                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">File input</label></div>#}
{#                                                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>#}
{#                                                </div>#}

                                             <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Create Union
                                            </button>
                                        </form>
                                    </div>
                                    <div class="card-footer">

                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

{% endblock %}




</body>

</html>
