{% extends 'customers-template/base.html' %}

{% block title %}
Create Customer
{% endblock %}

{% block content %}



        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Bill Date:
                            {% if not customer.bill.billing_start_date %}
                            {{ first_time }}
                            {% else %}
                             Update
                            {% endif %} For
                            {{ customer.name }}

                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{%  url 'customer:customer_list' %}">Customer List</a></li>

                            <li class="active">Bill / <a href="{{ customer.get_absolute_url  }}">{{ customer.name }}</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Create Billing Staring Date For {{ customer.name }} {{ customer.bill.billing_start_date }}</strong>
                                        {% if not customer.bill.billing_start_date %}
                                            <i>First Time</i>
                                        {% else %}
                                        <i>Update only</i>
                                        {% endif %}
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                            {% csrf_token %}



                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="{{ form.billing_start_date.id_for_label }}" class="form-control-label">*Billing Start Date</label></div>
                                                <div class="col-12 col-md-9">{{ form.billing_start_date }}<small class="form-text text-muted">Billing Start Date</small></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="{{ form.bill_status.id_for_label }}" class="form-control-label">*Billing Start Date</label></div>
                                                <div class="col-12 col-md-9">{{ form.bill_status }}<small class="form-text text-muted">Billing Start Date</small></div>
                                            </div>




{#                                                <div class="row form-group">#}
{#                                                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">File input</label></div>#}
{#                                                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>#}
{#                                                </div>#}

                                             <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Create Bill
                                            </button>
                                        </form>
                                    </div>
                                    <div class="card-footer">

                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

{% endblock %}




</body>

</html>
