{% extends 'customers-template/base.html' %}

{% block title %}
Customer List
{% endblock %}


{% block content %}



        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Customer List</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>

                            <li class="active">Customer List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Customer Table</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Due</th>
                                            <th>Union/Word</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for customer in customers %}
                                        <tr>
                                            <td>
                                                {% if customer.bill.due_bill_status %}
                                                <a style="color:red" href="{{ customer.get_absolute_url }}">{{ customer.name }}</a>
                                                 {% else %}
                                                 <a style="color: #0b2e13" href="{{ customer.get_absolute_url }}">{{ customer.name }}</a>
                                                {% endif %}
                                            </td>
                                            <td>{{ customer.phone_number }}</td>
                                            <td>
                                                {% if customer.bill.due_bill_status %}
                                                <span style="color: red"> {{ customer.bill.due_bill }}</span>
                                                 {% else %}

                                                {% endif %}

                                            </td>
                                            <td>{{ customer.word_union }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

{% endblock %}




</body>

</html>
