{% extends 'customers-template/base.html' %}
{% load static %}
{% block title %}
{{ user.full_name }} Profile
{% endblock %}
{% block content %}



        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Customer: <b><a href="">Edit</a>{{ user.full_name }}</b>  </h1>

                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'user_list' %}">User Panel</a></li>

                            <li class="">Profile</li>
                            <li class="active">{{ user.full_name }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <aside class="profile-nav alt">
                                    <section class="card">
                                        <div class="card-header user-header alt bg-dark">
                                            <div class="media">
                                                <a href="#">
                                                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="{% static 'images/admin.jpg' %} ">
                                                </a>
                                                <div class="media-body">
                                                    <h2 class="text-light display-6">{{ user.full_name }}

                                                    </h2>
                                                    <span class="badge badge-success">{{ user.get_user_type_display }}</span>
                                                    {% if user.is_superuser %}
                                                    <h4><span class="badge badge-primary">Superuser</span></h4>
                                                    {% endif %}
                                                    <p>{{ user.phone_number }}</p>
                                                    <p>Last Login <span class="badge badge-primary">{{ user.last_login }}</span></p>

                                                </div>
                                            </div>
                                        </div>








                            </section>
                        </aside>
                            </div>




                        <div class="card-header">
                            <a href="{% url 'permission_setup' user.id %}"><span class="badge badge-success">Permission Rule Setup</span></a>
                            <span class="badge badge-info">{{ user.get_user_type_display }}</span>
                            {% if user.is_staff %}
                            <span class="badge badge-primary">Staff</span>
                            {% else %}
                            <span class="badge badge-danger">No</span>
                            {% endif %}

                            {% if user.is_active %}
                            <span class="badge badge-primary">Active</span>
                            {% else %}
                             <span class="badge badge-danger">Inactive</span>
                            {% endif %}
                        </div>

                        <div class="card-header">

                                <strong class="card-title">All Invoices</strong>

                            <form class="form-inline" action="" method="post">
                                {% csrf_token %}
                                <label for="email"> From: </label>
                                <input type="text" class="form-control" id="id_custom_bill_date1" placeholder="First Date" name="id_custom_bill_date1" required>
                                <label for="pwd"> To: </label>
                                <input type="text" class="form-control" id="id_custom_bill_date2" placeholder="Enter Last date" name="id_custom_bill_date2" required>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>



                            </div>


                        <div class="container">
                              <div class="card">
                                    <div class="card-header">
                                            Invoice
                                        <strong>{% if from_date %}Showing Date From: <span class="badge badge-warning">{{ from_date }}</span>{% endif %}  {% if to_date %} To: <span class="badge badge-warning">{{ to_date }}</span> {% endif %}</strong>
{#                                            <span class="float-right"> <strong>Status:</strong> Pending</span>#}

                                    </div>




                            <div class="table-responsive-sm">
                                <table class="table table-striped">

                                <tbody>

                            </tbody>
                            </table>
                            </div>
                            <div class="row">
                            <div class="col-lg-4 col-sm-5">

                            </div>

                            <div class="col-lg-4 col-sm-5 mr-auto">
                                <table class="table table-clear">
                                    <tbody>



                                        <tr>
                                            <td class="left">
                                            <strong>Collect Total</strong>
                                            </td>
                                            <td class="right">
                                            <strong>{{ total_taka.invoice_amount }} TK</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            </div>

                            </div>
                            </div>
                            </div>




                             <div class="card-body">

                             <hr>
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Invoice ID</th>
                                            <th>Person</th>
                                            <th>Mobile Number</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for invoice in customer_invoice %}
                                        <tr>
                                            <td><a href="">{{ invoice.invoice_id }}</a></td>
                                            <td>
                                                <a href="{% url 'customer:customer_details' invoice.bill.customer.slug %}">{{ invoice.bill.customer.name }}</a> - {{ invoice.get_invoice_type_display }}</td>
                                            <td>
                                                {{ invoice.bill.customer.phone_number }}
                                            </td>
                                            <td>{{ invoice.invoice_amount }} </td>
                                            <td>
                                                {{ invoice.custom_bill_date|date:'d N y ' }}
                                                <span style="font-size:10px">
                                                    <i>
                                                        {{ invoice.created_at|date:"d b,y" }}
                                                    {{ invoice.created_at|time:"h:i A" }}
                                                    </i>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

{% endblock %}




</body>

</html>
