{% extends 'base.html' %}


{% block title %}{{ customer.name }}{% endblock %}



{% block content %}
    <div class="container">
  <h2>Customer Profile</h2>
    <div class="card" style="width:400px">
{#      <img class="card-img-top" src="img_avatar1.png" alt="Card image">#}
      <div class="card-body">
        <h4 class="card-title">Name: <b>{{ customer.name }}</b>  Gender: {{ customer.get_gender_display }} </h4>
        <p class="card-text">Customer ID: <i>{{ customer.customer_id }}</i></p>
        <p class="card-text">Phone: {{ customer.phone_number }}</p>
        <p class="card-text">Address: {{ customer.word_union }}</p>
        <p class="card-text">Package: {{ customer.package_name }}</p>
        <p class="card-text">
           Status: {{ customer.get_customer_status_display }}
        </p>
          <p>Bill ID {{ customer.bill.bill_id }}</p>
          <p>Balance {{ customer.bill.balance }} TK</p>
           <p>Billing Start Date {{ customer.bill.billing_start_date }}</p>
          <p>Total Day {{ customer.bill.total_day }} Days</p>

          <p>Total Bill {{ customer.bill.total_day }} Days * {{ customer.package_name.per_day_amount }} TK = {{ customer.bill.total_bill }} TK</p>
          <p>Due Bill Status{{ customer.bill.due_bill_status }}</p>

        <ul>
             {% for invoice in customer.bill.invoice_set.all %}
            <li>

            {{ invoice.get_invoice_type_display }} - {{ invoice.invoice_amount }}
                {{ invoice.custom_bill_date }} {{ invoice.created_at }}

            </li>
            {% endfor %}
        </ul>



      </div>
    </div>

</div>




{% endblock %}